@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Open+Sans&family=Prompt&family=Source+Serif+Pro:wght@200;400&display=swap');


/*"Source Serif Pro", "Prompt"; "ExtraLight 200", "Open Sans Regular 400", "Anonymous Pro Regular 400"*/
#content{
    max-width: 1600px; 
    margin: 0 auto;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 175px 175px 200px 1fr 75px;

}

#pagehead {
    padding-top: 50px;
    grid-column: 1/6;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px;
    justify-content: space-evenly;
}

#logo  {
    width: 400px;
    height: 270px;
    padding: 5px;
    border:5px solid#7C0B84;
    grid-column: 2/3;
    
}
#Web_Development {
    width: 400px;  
    height: 270px;
    padding: 5px;
    border:5px solid #7C0B84;
    grid-column: 4/5;
} 

body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

#Showcase-msg {
    text-align: center;
    font-size: 18px;
    background-color: #C7C4BD;
    color: black;
    text-decoration: none;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    grid-column:1/6;
    grid-row:3/4;
    width: 100%
}
h1 {
    font-size: 20px;
    font-family: "Source Serif Pro", "ExtraLight 200"
    
}
#purpose {
    text-align: center;
    font-size: 20px;
    background-color: #C7C4BD;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    grid-column: 1/3;
    grid-row: 4/5;
}
#wireframe-example {
    grid-column: 3/6;
    grid-row: 4/5;
    padding: 15px 30px;
}

header {
    background-color: #7C0B84;
    display: grid;
    grid-template-columns: 150px auto;
    height: 100px;
    width:100%;
    padding:20px;
    align-items: center;
    font-family: "Prompt", "Open Sans Regular 400 ";
}
nav { 
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    font-size: 24px;
    color:#FFFFFF;
    font-weight: bold;
    padding-top: 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: #C7C4BD;
    color:  #DEB841;
}
.logolink {
    width: 100px;
    padding-bottom: 50px;
}

footer {
    padding: 20px;
    display: flex;
    background-color: #C7C4BD;
    justify-content: space-evenly;
    font-family: "Prompt", "Open Sans Regular 400 ";
    margin:auto;
    width: 100%
}



#contact-info {
    margin-top: 20px;
}



h4 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    font-family: "Prompt", "Open Sans Regular 400 ";
}


/* Dropdown Button located in the footer */
.dropbtn {
    background-color: #DEB841;
    color: black;
    padding: 16px;
    font-size: 16px;
    font-family: "Prompt", "Open Sans Regular 400 ";
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    justify-self: left;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position:inherit;
    background-color: #FFFFFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #7C0B84;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #7C0B84;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #7C0B84;}

/* //////////////CSS specifically for page 2 - Services */
.services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}

#Design-box {
    padding-left: 100px;
    padding-top: 10px;
    grid-column: 1/5;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    
    
}
#design {
    grid-column: 1/3;
    grid-row: 1/3;
    width: 100%;
    padding: 30px 20px;
    margin: 20px;
  }
#question {
    grid-column: 5/6;
    grid-row: 1/2;
    width: 500px;
    padding-left: 30px;
    
}
h2 
{
    font-size: 16px;
    font-family: "Source Serif Pro", "ExtraLight 200" ;
}
.clientmsg {
    text-align: left;
    font-size: 16px;
    font-family: "Source Serif Pro", "ExtraLight 200";
    background-color: #C7C4BD;
    color: black;
    text-decoration: none;
    grid-column: 1/4;
    grid-row-start: 3;
    border-radius: 10px;
    width: 100%;
    margin: auto;
    padding: 10px;
    border: 2px solid #DEB841
}
.collabmsg {
    text-align: left;
    font-size: 16px;
    font-family: "Source Serif Pro", "ExtraLight 200";
    background-color: #C7C4BD;
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    grid-column: 1/4;
    grid-row: 4/5;
    width: 100%;
    border: 2px solid #DEB841
}
#Collab-box {
    grid-column: 4/6;
    grid-row-start: 3;
    grid-row-end: 5;
    padding: 30px;
    
    



    
}